[Desktop Entry]
Comment=
Terminal=false
Name=logs term
Exec=env DUBS_TERMNAME="" env DUBS_STARTIN="" env DUBS_STARTUP="" /ccp/dev/cp/scripts/util/openterm.sh -t logs
Type=Application
Icon=terminal
