#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Document Viewer
Name[af]=Dokumentbekyker
Name[am]=ሰነድ መመልከቻ 
Name[ar]=عارض المستندات
Name[as]=ডকুমেন্ট প্ৰদৰ্শন ব্যৱস্থা
Name[ast]=Visor de Documentos
Name[be]=Праглядальнік дакумэнтаў
Name[be@latin]=Ahladalnik dakumentaŭ
Name[bg]=Преглед на документи
Name[bn]=নথি প্রদর্শক
Name[bn_IN]=ডকুমেন্ট প্রদর্শন ব্যবস্থা
Name[br]=Lenner teulioù
Name[ca]=Visualitzador de documents
Name[ca@valencia]=Visualitzador de documents
Name[cs]=Prohlížeč dokumentů
Name[cy]=Gwelydd Dogfennau
Name[da]=Dokumentfremviser
Name[de]=Dokumentenbetrachter
Name[dz]=ཡིག་ཆ་མཐོང་བྱེད།
Name[el]=Εφαρμογή προβολής εγγράφων
Name[en@shaw]=𐑛𐑪𐑒𐑿𐑥𐑩𐑯𐑑 𐑝𐑿𐑼
Name[en_AU]=Document Viewer
Name[en_CA]=Document Viewer
Name[en_GB]=Document Viewer
Name[eo]=Dokumentrigardilo
Name[es]=Visor de documentos
Name[et]=Dokumendinäitaja
Name[eu]=Dokumentu ikustailea
Name[fa]=نمایشگر نوشتار
Name[fi]=Asiakirjakatselin
Name[fr]=Visionneur de documents
Name[ga]=Amharcán Cáipéisí
Name[gl]=Visualizador de documentos
Name[gu]=દસ્તાવેજ દર્શક
Name[he]=מציג מסמכים
Name[hi]=लेखपत्र प्रदर्शक
Name[hu]=Dokumentummegjelenítő
Name[id]=Penampil Dokumen
Name[it]=Visualizzatore documenti
Name[ja]=ドキュメント・ビューア
Name[ka]=დოკუმენტების მნახველი
Name[kk]=Құжаттарды қараушысы
Name[kn]=ದಸ್ತಾವೇಜು ವೀಕ್ಷಕ
Name[ko]=문서 보기
Name[ks]=कागजात वुछनुक
Name[ku]=Nîşanderê Belgeyan
Name[ky]=Документ көрсөткүч
Name[lt]=Dokumentų peržiūros programa
Name[lv]=Dokumentu skatītājs
Name[mai]=दस्ताबेज प्रदर्शक
Name[mg]=Mpaneho tahirin-kevitra
Name[mk]=Прегледувач за документи
Name[ml]=രേഖാദര്‍ശിനി
Name[mn]=Баримт бичиг үзүүлэгч
Name[mr]=दस्तऐवज दर्शक
Name[ms]=Pemapar Dokumen
Name[nb]=Dokumentvisning
Name[nds]=Dokumentkieker
Name[ne]=कागजात दृश्यक
Name[nl]=Documentenviewer
Name[nn]=Dokumentframsynar
Name[oc]=Visualizaire de documents
Name[or]=ଦଲିଲ ପ୍ରଦର୍ଶକ
Name[pa]=ਡੌਕੂਮੈਂਟ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka dokumentów
Name[ps]=لاسوند ليدانی
Name[pt]=Visualizador de Documento
Name[pt_BR]=Visualizador de Documentos
Name[ro]=Vizualizator de documente
Name[ru]=Просмотр документов
Name[si]=ලේඛන දසුන
Name[sk]=Prehliadač dokumentov
Name[sl]=Pregledovalnik dokumentov
Name[sq]=Shikues dokumentesh
Name[sr]=Прегледач докумената
Name[sr@latin]=Pregledač dokumenata
Name[sv]=Dokumentvisare
Name[ta]=ஆவண காட்டி
Name[te]=పత్ర దర్శిని
Name[th]=โปรแกรมดูเอกสาร
Name[tr]=Belge Görüntüleyici
Name[uk]=Перегляд документів
Name[vi]=Bộ xem tài liệu
Name[wa]=Håyneu di documints
Name[zh_CN]=文档查看器
Name[zh_HK]=文件檢視器
Name[zh_TW]=文件檢視器
GenericName=Document Viewer
GenericName[af]=Dokumentbekyker
GenericName[am]=ሰነድ መመልከቻ 
GenericName[ar]=عارض المستندات
GenericName[as]=ডকুমেন্ট প্ৰদৰ্শন ব্যৱস্থা
GenericName[ast]=Visor de Documentos
GenericName[be]=Праглядальнік дакумэнтаў
GenericName[be@latin]=Ahladalnik dakumentaŭ
GenericName[bg]=Преглед на документи
GenericName[bn]=নথি প্রদর্শক
GenericName[bn_IN]=ডকুমেন্ট প্রদর্শন ব্যবস্থা
GenericName[br]=Lenner teulioù
GenericName[ca]=Visualitzador de documents
GenericName[ca@valencia]=Visualitzador de documents
GenericName[cs]=Prohlížeč dokumentů
GenericName[cy]=Gwelydd Dogfennau
GenericName[da]=Dokumentfremviser
GenericName[de]=Dokumentenbetrachter
GenericName[dz]=ཡིག་ཆ་མཐོང་བྱེད།
GenericName[el]=Εφαρμογή προβολής εγγράφων
GenericName[en@shaw]=𐑛𐑪𐑒𐑿𐑥𐑩𐑯𐑑 𐑝𐑿𐑼
GenericName[en_AU]=Document Viewer
GenericName[en_CA]=Document Viewer
GenericName[en_GB]=Document Viewer
GenericName[eo]=Dokumentrigardilo
GenericName[es]=Visor de documentos
GenericName[et]=Dokumendinäitaja
GenericName[eu]=Dokumentu ikustailea
GenericName[fa]=نمایشگر نوشتار
GenericName[fi]=Asiakirjakatselin
GenericName[fr]=Visionneur de documents
GenericName[ga]=Amharcán Cáipéisí
GenericName[gl]=Visualizador de documentos
GenericName[gu]=દસ્તાવેજ દર્શક
GenericName[he]=מציג מסמכים
GenericName[hi]=लेखपत्र प्रदर्शक
GenericName[hu]=Dokumentummegjelenítő
GenericName[id]=Penampil Dokumen
GenericName[it]=Visualizzatore documenti
GenericName[ja]=ドキュメント・ビューア
GenericName[ka]=დოკუმენტების მნახველი
GenericName[kk]=Құжаттарды қараушысы
GenericName[kn]=ದಸ್ತಾವೇಜು ವೀಕ್ಷಕ
GenericName[ko]=문서 보기
GenericName[ks]=कागजात वुछनुक
GenericName[ku]=Nîşanderê Belgeyan
GenericName[ky]=Документ көрсөткүч
GenericName[lt]=Dokumentų peržiūros programa
GenericName[lv]=Dokumentu skatītājs
GenericName[mai]=दस्ताबेज प्रदर्शक
GenericName[mg]=Mpaneho tahirin-kevitra
GenericName[mk]=Прегледувач за документи
GenericName[ml]=രേഖാദര്‍ശിനി
GenericName[mn]=Баримт бичиг үзүүлэгч
GenericName[mr]=दस्तऐवज दर्शक
GenericName[ms]=Pemapar Dokumen
GenericName[nb]=Dokumentvisning
GenericName[nds]=Dokumentkieker
GenericName[ne]=कागजात दृश्यक
GenericName[nl]=Documentenviewer
GenericName[nn]=Dokumentframsynar
GenericName[oc]=Visualizaire de documents
GenericName[or]=ଦଲିଲ ପ୍ରଦର୍ଶକ
GenericName[pa]=ਡੌਕੂਮੈਂਟ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka dokumentów
GenericName[ps]=لاسوند ليدانی
GenericName[pt]=Visualizador de Documento
GenericName[pt_BR]=Visualizador de Documentos
GenericName[ro]=Vizualizator de documente
GenericName[ru]=Просмотр документов
GenericName[si]=ලේඛන දසුන
GenericName[sk]=Prehliadač dokumentov
GenericName[sl]=Pregledovalnik dokumentov
GenericName[sq]=Shikues dokumentesh
GenericName[sr]=Прегледач докумената
GenericName[sr@latin]=Pregledač dokumenata
GenericName[sv]=Dokumentvisare
GenericName[ta]=ஆவண காட்டி
GenericName[te]=పత్ర దర్శిని
GenericName[th]=โปรแกรมดูเอกสาร
GenericName[tr]=Belge Görüntüleyici
GenericName[uk]=Перегляд документів
GenericName[vi]=Bộ xem tài liệu
GenericName[wa]=Håyneu di documints
GenericName[zh_CN]=文档查看器
GenericName[zh_HK]=文件檢視器
GenericName[zh_TW]=文件檢視器
TryExec=atril
Exec=atril /ccp/doc/postgis-2.1.0.pdf /ccp/doc/mapserver-6.0.1.pdf /ccp/doc/gnuplot-4.4.pdf /ccp/doc/python-2.7.2/library.pdf
Terminal=false
Type=Application
Icon=atril
X-MATE-DocPath=
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=atril
X-MATE-Bugzilla-Component=BugBuddyBugs
X-MATE-Bugzilla-Version=1.6.1
Categories=GTK;Graphics;VectorGraphics;Viewer;
MimeType=application/pdf;application/x-bzpdf;application/x-gzpdf;application/postscript;application/x-bzpostscript;application/x-gzpostscript;image/x-eps;image/x-bzeps;image/x-gzeps;application/x-dvi;application/x-bzdvi;application/x-gzdvi;image/vnd.djvu;image/tiff;application/x-cbr;application/x-cbz;application/x-cb7;application/x-cbt;image/*;application/oxps;application/vnd.ms-xpsdocument;
Name[en_US]=View Cyclopath Dev docs
